<div class="container">
  <div class="row mt-5">
    <div class="col-4 bg-body-secondary">
      <img class="mt-1" ngSrc="{{empresa.img}}" alt="Logo" width="300em">
      <div id="nombreC">
        <a id="title">{{empresa.nombre}}</a>
      </div>
      <div id="fundacionC">
        <a class="txt">Fundación:</a><br>
        <a class="data">{{empresa.fechaFundacion}}</a>
      </div>
      <div id="direccionC">
        <a class="txt">Dirección:</a><br>
        <a class="data">{{empresa.direccion}}</a>
      </div>

    </div>
    <div class="col-1"></div>
    <div class="col-7 bg-light">
      <a id="descTxt">{{empresa.descripcion}}</a>
    </div>
  </div>


</div>
